
.card
    .card-header.d-flex.justify-content-between
        .card-header-left.d-flex
            i.bi.bi-shield-slash-fill(style="font-size: 1.5rem; color: #0E7FC4;")
            .d-flex.align-items-center
                p.card_header_txt Charges
        .card-header-right.d-flex
            img(src="/img/btn_chart.svg" alt="btn_chart")
            img(src="/img/btn_plus.svg" alt="btn_plus")
    .card-body
        .scrollbar-tab
            table.table.table-hover.align-middle
                tbody.table-card
                    tr
                        td
                            p.card_txt_item Electricité
                        td
                            p.card_number_item
                                | 60.00
                                span €
                        td
                            .container-btn-item.d-flex.px-0.justify-content-end
                                img(src="/img/btn_pen.svg" alt="btn_pen")
                                img(src="/img/btn_trash.svg" alt="btn_trash")
                    tr
                        td
                            p.card_txt_item Loyer
                        td
                            p.card_number_item
                                | 750.00
                                span €
                        td
                            .container-btn-item.d-flex.px-0.justify-content-end
                                img(src="/img/btn_pen.svg" alt="btn_pen")
                                img(src="/img/btn_trash.svg" alt="btn_trash")
                    tr
                        td
                            p.card_txt_item Eau
                        td
                            p.card_number_item
                                | 40.00
                                span €
                        td
                            .container-btn-item.d-flex.px-0.justify-content-end
                                img(src="/img/btn_pen.svg" alt="btn_pen")
                                img(src="/img/btn_trash.svg" alt="btn_trash")
                    tr
                        td
                            p.card_txt_item Gaz
                        td
                            p.card_number_item
                                | 65.00
                                span €
                        td
                            .container-btn-item.d-flex.px-0.justify-content-end
                                img(src="/img/btn_pen.svg" alt="btn_pen")
                                img(src="/img/btn_trash.svg" alt="btn_trash")
                    tr
                        td
                            p.card_txt_item Chauffage
                        td
                            p.card_number_item
                                | 450.00
                                span €
                        td
                            .container-btn-item.d-flex.px-0.justify-content-end
                                img(src="/img/btn_pen.svg" alt="btn_pen")
                                img(src="/img/btn_trash.svg" alt="btn_trash")
    .card-footer.d-flex.justify-content-between
        .col-4.col-footer.text-center.card_footer_border_right
            p.card_footer_text Mois
            p.card_footer_number 450.00
        .col-4.col-footer.text-center.card_footer_border_right
            p.card_footer_text Trimestre
            p.card_footer_number 1.350.00
        .col-4.col-footer.text-center
            p.card_footer_text Année
            p.card_footer_number 6.400.00